@import "normalize.css";

/* Default styles */
* {
  box-sizing: border-box;
}

::selection {
  background: $green;
  color: white;
}

html {
  font-size: $baseFontSize;

  -webkit-overflow-scrolling: auto !important;

  overflow-x: hidden !important;
}

body {
  width: 100% !important;
  min-height: 100dvh;

  background: $background-color;

  @include font-montserrat(400);
  color: black;

  -webkit-overflow-scrolling: auto !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

#__nuxt {
  display: flex;
  flex-direction: column;
}

button, input, optgroup, select, textarea {
    @include font-montserrat(400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

table {
    border-collapse: collapse;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

img {
    display: block;
    max-width: 100%;
}

.container {
  max-width: $containerWidth;
  width: 100%;
  margin: 0 auto;

  padding-inline-start: $containerPaddingLeft;
  padding-inline-end: $containerPaddingRight;

  position: relative;
}
